<body>
  
<div class="main-container p-2 m-2">
  <div class="container card">
    <div class="card mb-3" style="max-width: 18rem;">
      {{#each chatData}}
      <div class="card-header">{{#with userData}}{{user.user_name}}{{/with}}
      <div class="card-body">
        <h5 class="card-title">{{chat_name}}</h5>
        <p class="card-text">{{chatText}}</p>
      </div>
      </div>
      {{/each}}
    </div>
  </div>

<div class="container">
  <div class="mb-3">
    {{#with chatData}}
    <label for="exampleFormControlInput1" id="chatUser" class="form-label">{{gameChat.user_id}}</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>

  <div class="mb-3">
    <label for="exampleFormControlTextarea1" id="chatTextArea" class="form-label">{{gameChat.chatText}}</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    {{/with }}
    <button id="submit" type="submit" class="btn btn-primary">Submit</button>
</div>
</div>
<script src="/js/gameChat.js"></script>
</div>
</body>