<body>
  <div class="bg-image" style="background-image: img src='/images/background1.jpg' ;"></div>
  <div class="layout layout-nav-slide">

    <div class="main-container p-2 m-2">

      <div class="container card">
        <div class="row justify-content-center">
          <div class="col-lg-11 col-xl-9">
            <section class="py-4 py-lg-5">

              
                <div id="chatCard" class="card p-2 m-2">
                {{#each chats}}
                  <div class="card-header">
                    {{game_name}}
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">{{chat_name}}</h5>
                    <p class="card-text">{{chatText}}</p>
                    <a href="./api/gamechat/{{id}}" class="btn btn-primary">Join</a>
                  </div>
                
                {{/each}}
                </div>

              <div class="mb-3">
              {{#with chats}}
                <label for="exampleFormControlInput1" id="chatUser" class="form-label">{{email}}</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              {{email}}

              <div class="mb-3">
                <label for="exampleFormControlTextarea1" id="chatTextArea" class="form-label">{{gameChat.chatText}}</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              {{/with }}
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>

            </section>
            <section class="py-4 py-lg-5">
              <div class="row mb-5">

              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>


  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/popper.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.js"></script>
  <script type="text/javascript" src="assets/js/autosize.min.js"></script>
  <script type="text/javascript" src="assets/js/prism.js"></script>
  <script type="text/javascript" src="assets/js/dropzone.min.js"></script>
  <script type="text/javascript" src="assets/js/list.min.js"></script>
  <script type="text/javascript" src="assets/js/theme.js"></script>
  </div>

  

